@import url(http://fonts.googleapis.com/css?family=Orbitron);

body{
  background-image: url('/assets/wallpaper.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}
#container{
  width: 850px;
  margin: 0 auto;
}
#jumbotron{
  height: 200px;
  width: 350px;
}
#banner{
  color: white;
  margin-top: -1%;
}

#playerspace{
  display: inline-block;
  width: 100%;
}
#board{
  text-align: center;
  margin: auto;
  margin-top: 1%;
  border: 2px dashed grey;
  display: inline-block;
  border-radius: 10px;
  margin: 20px;
}

#board2{
  text-align: center;
  margin: auto;
  margin-top: 1%;
  border: 2px dashed grey;
  display: inline-block;
  background-image: url('/assets/space_hud.jpg');
  background-position: center;
  border-radius: 10px;
  margin: 20px;
}

td {
  width: 40px;
  height: 40px;
  background-color: rgba(75, 75, 75, .41);
  border-radius: 5px;
}

.logo{
  height: 100px;
  width: 100px;
  margin: 0 1%;
  border-radius: 100%;
}

.highlighted{
  box-shadow: 0 0 10px white;
}

.rebel {
  background-color: red;
}

.imperial{
  background-color: white;
}

.hidden{
  background-color: rgba(75, 75, 75, .41);
}
